apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress
  namespace: management-app
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
  - host: loadbalancer.frontierrnd.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-service
            port:
              number: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: frontend
  namespace: management-app
spec:
  parentRefs:
  - name: main-nginx-gateway
    namespace: gateway-system
    sectionName: http
  - name: main-nginx-gateway
    namespace: gateway-system
    sectionName: https-aws
  - name: main-nginx-gateway
    namespace: gateway-system
    sectionName: https
  hostnames:
  - "test.denhertog.ca"
  - "loadbalancer.frontierrnd.com"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: frontend-service
      port: 80